{% extends 'DreamCommerceShopAppstoreBundle::base.html.twig' %}

{% block body %}



    <main class="rwd-layout-width rwd-layout-container">
        <section class="rwd-layout-col-12">
            {{ form_start(form) }}
            <fieldset>
                <header>Wykluczone produkty</header>


                {{ form_errors(form.products) }}
                    <div class="edition-form-line">
                        <div class="edition-form-line-label">
                            Wybierz produkty do usunięcia z listy wykluczonych:
                        </div>
                        <div class="edition-form-line-field">
                            <ul class="control-more-options additional-inline">
                        {% for product in form.products %}

	                                    <li><span class="checkbox-wrap">
	                                        {{ form_widget(product) }}
                                            <label></label>
	                                    </span>
                                        {{ form_label(product) }}
                                        </li>



                    {% endfor %}
                            </ul>
                        </div>
                    </div>



            </fieldset>

            <fieldset>
                <div class="edition-form-buttons">
                    {{ form_widget(form.back, {'attr': {'class': 'button button-bg button-larger save-button confirm'}}) }}
                    {{ form_widget(form.delete, {'attr': {'class': 'button button-bg button-larger button-important save-button confirm'}}) }}
                </div>
            </fieldset>

            {{ form_end(form) }}

        </section>
    </main>

{% endblock %}
