{% extends 'DreamCommerceShopAppstoreBundle::base.html.twig' %}

{% block body %}


    <main class="rwd-layout-width rwd-layout-container">
        <section class="rwd-layout-col-12">
            <fieldset>
                <header>{{ 'app.title'|trans }}</header>

                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        {{ 'export.status'|trans }}:
                    </div>
                    <div class="edition-form-line-field">
                        {% if export_status is not empty %}
                            <strong>{{ export_status.date|date('Y-m-d @ H:i:s') }}</strong> ({{ 'export.status.count'|trans({'%count%': export_status.productsCount}) }})
                        {% else %}
                            {{ 'export.none'|trans }}
                        {% endif %}
                        <button class="button button-important button-bg" type="button" data-url="{{ xml_force_link }}" id="generate-xml">{{ 'xml.generate'|trans }}</button>
                    </div>
                </div>

                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        {{ 'xml.link'|trans }}:
                    </div>
                    <div class="edition-form-line-field">
                        <input type="text" value="{{ xml_link }}">
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <header>{{ 'excluded.products'|trans }}</header>

                {% if excluded_count > 0 %}
                    <p>{{ 'excluded.products.count'|trans({'%count%': excluded_count}) }}. <a href="{{ app_path('ceneo_exclusions') }}">{{ 'excluded.products.manage'|trans }}</a></p>
                {% else %}
                    <p>{{ 'excluded.products.empty'|trans }}</p>
                {% endif %}

                <p>{{ 'excluded.products.tip'|trans({'%link%': '<a href="' ~ stock_link ~ '" target="_top">' ~ ('stock.link'|trans) ~ '</a>'})|raw }}
                    </p>

            </fieldset>
            <fieldset>
                <header>{{ 'attributes.mapping'|trans }}</header>
                <p>{{ 'go.to'|trans({'%link%': '<a href="' ~app_path("ceneo_mappings") ~ '">' ~ ('go.to.mapping'|trans) ~ '</a>'}) | raw }}</p>
            </fieldset>

        </section>
    </main>

{% endblock %}
