{% extends 'DreamCommerceShopAppstoreBundle::base.html.twig' %}

{% block body %}


    <main class="rwd-layout-width rwd-layout-container">
        <section class="rwd-layout-col-12">
            <fieldset>
                <header>Rozszerzona integracja Ceneo</header>

                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        Ostatni eksport:
                    </div>
                    <div class="edition-form-line-field">
                        {% if export_status is not empty %}
                            <strong>{{ export_status.date|date('Y-m-d @ H:i:s') }}</strong> (wyeksportowano {{ export_status.productsCount }} produktów)
                        {% else %}
                            brak eksportu
                        {% endif %}
                        <button class="button button-important button-bg" type="button" data-url="{{ xml_force_link }}" id="generate-xml">generuj XML</button>
                    </div>
                </div>

                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        Link do XML:
                    </div>
                    <div class="edition-form-line-field">
                        <input type="text" value="{{ xml_link }}" id="copy-xml-link">
                        <button class="button button-important button-bg" id="copy-xml-button" type="button" data-clipboard-text="{{ xml_link }}">skopiuj link do XML</button>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <header>Wykluczone produkty</header>

                {% if excluded_count > 0 %}
                    <p>{{ excluded_count }} produktów nie będzie eksportowane do XML. <a href="{{ app_path('ceneo_exclusions') }}">Przejdź do listy wykluczonych produktów</a></p>
                {% else %}
                    <p>Brak zdefiniowanych wykluczeń produktów, wszystkie produkty zostaną wyeksportowane do Ceneo XML</p>
                {% endif %}

                <p>Na <a href="{{ stock_link }}" target="_top">liście produktów</a> możesz zdefiniować produkty których NIE chcesz eksportować do Ceneo</p>

            </fieldset>
            <fieldset>
                <header>Mapowanie atrybutów Ceneo</header>
                <p>Przejdź do <a href="{{ app_path('ceneo_mappings') }}">mapowania grup atrybutów</a></p>
            </fieldset>

        </section>
    </main>

    <script src="{{ asset('bundles/ceneo/ZeroClipboard/ZeroClipboard.min.js') }}"></script>
    <script>
        window.onload = function() {
            ZeroClipboard.config({swfPath: "{{ asset('bundles/ceneo/ZeroClipboard/ZeroClipboard.swf') }}"});
            new ZeroClipboard(document.getElementById('copy-xml-button'));

            document.getElementById('generate-xml').onclick = function(){
                var win = window.open(this.getAttribute('data-url'));
                win[win.addEventListener ? 'addEventListener' : 'attachEvent'](
                    (win.attachEvent ? 'on' : '') + 'load', function(){
                        self.location.reload();
                    }, false
                );
            };
        }
    </script>

{% endblock %}
