{% extends 'DreamCommerceShopAppstoreBundle::base.html.twig' %}

{% block body %}


    <main class="rwd-layout-width rwd-layout-container">
        <section class="rwd-layout-col-12">
            <fieldset>
                <header>{{ 'attributes.mapping.title'|trans({'%title%': title}) }}</header>

                {{ form_start(form) }}
                {% for k,v in form if (k!="_token" and k!="save") %}

                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        {{ form_label(v) }}
                    </div>
                    <div class="edition-form-line-field">
                        {{ form_widget(v) }}
                    </div>
                </div>

                {% endfor %}

            </fieldset>
            <fieldset>
                <div class="edition-form-buttons">
                    <button type="submit" id="back-button" class="button button-bg button-larger save-button confirm" data-url="{{ app_path('ceneo_options') }}">{{ 'action.back'|trans }}</button>
                    {{ form_widget(form.save, {'attr': {'class': 'button button-bg button-larger button-important save-button confirm'}}) }}
                </div>
            </fieldset>

            {{ form_end(form) }}

            <script>
                events.push(function(){
                    document.getElementById('back-button').onclick = function(){
                        window.location.assign(this.getAttribute('data-url'));
                    }
                })
            </script>

        </section>
    </main>


{% endblock %}
