{% extends 'DreamCommerceShopAppstoreBundle::base.html.twig' %}

{% block body %}


    <main class="rwd-layout-width rwd-layout-container">
        <section class="rwd-layout-col-12">
            <fieldset>
                <header>Mapowanie grup atrybutów</header>

                {{ form_start(forms) }}

                {% for k,f in forms %}
                    {% if f.children %}
                        <div class="edition-form-line">
                            <div class="edition-form-line-label">
                                {{ groups[k].name }}:
                            </div>
                            <div class="edition-form-line-field">
                                {{ form_widget(f.group) }}
                                {{ form_widget(f.save, {'attr': {'class': 'button button-bg button-small button-important save-button confirm'}}) }}
                            </div>
                        </div>
                    {% else %}
                        {{ form_widget(f) }}
                    {% endif %}
                {% endfor %}

                {{ form_end(forms) }}

            </fieldset>

            <fieldset>
                <div class="edition-form-buttons">
                    <button type="submit" id="back-button" class="button button-bg button-larger save-button confirm" data-url="{{ app_path('ceneo_options') }}">Powrót</button>
                </div>
            </fieldset>

            <script>
                events.push(function(){
                    document.getElementById('back-button').onclick = function(){
                        window.location.assign(this.getAttribute('data-url'));
                    }
                })
            </script>

        </section>
    </main>


{% endblock %}
